@import "../tools/old-ie";

.is-hidden {
  display: none !important;
}

.hide-old-ie { // TODO not too sure about this, is it needed?
  display: inline-block;

  @include old-ie {
    display: none;
  }
}

.show-old-ie {
  display: none;

  @include old-ie {
    display: block;
  }
}

// Hide only visually, but have it available for screen readers:
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.is-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
