@import "../tools/old-ie";

.is-hidden {
  display: none !important;
}

.hide-old-ie {
  display: block;

  @include old-ie {
    display: none;
  }
}

.show-old-ie {
  display: none;

  @include old-ie {
    display: block;
  }
}
