@import "../settings/colours";
@import "../settings/vars";
@import "../tools/media-query";
@import "../tools/old-ie";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 110%; // http://alistapart.com/article/howtosizetextincss
  line-height: 1.6;
  color: $off-black;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dd,
p,
pre,
table,
fieldset,
hr {
  margin-top: 0;
  margin-bottom: $baseline;
}

figure,
ul {
  padding: 0;
  margin: 0;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
  border-radius: 2px;

  @include old-ie {
    width: 100%;
  }
}

a {
  color: $darker-brown;
  outline: 2px solid transparent;
  text-decoration-skip-ink: auto;
  text-decoration-skip: ink;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 2px solid $orange;
    background-color: $orange;
  }
}

::selection {
  background: $lighter-brown;
  text-shadow: none;
}

@include old-ie {
  section,
  footer,
  header,
  article,
  figure {
    display: block;
  }
}
