/* stylelint-disable */
// This is the colours file where hex variables are set

$white: #fff;
$black: #000;
$off-black: #191717;
$light-grey: #e9eaed;
$grey: #cccccc;
$dark-grey: #636363;
$darker-grey: #4c4c4c;

$facebook: #3c5999;
$twitter: #55acee;
$good-food-oxford: #018e73;

$light-brown: #d8d1ca;
$brown: #d8d3cb;
$dark-brown: #948577;
$green: #929953;
$dark-green: #7e893c;
$yellow: #fff1a5;
