/* stylelint-disable */
// This is the colours file where hex variables are set

$white: #fff;
$black: #000;
$off-black: #191717;
$light-grey: #e9eaed;
$grey: #cccccc;
$dark-grey: #636363;
$mushroom: #f8e1ab;

$facebook: #3c5999;
$twitter: #55acee;
