<footer class="footer" role="contentinfo">
  <section class="centered-section">
    <div class="footer__primary">
      <ul class="list list--inline">
        <li class="list__item">
          <a rel="external" href="https://www.facebook.com/oxfordmushroomco">
            {{ icon('facebook-icon', 'facebook') }}
          </a>
        </li>
        <li class="list__item">
          <a rel="external" href="https://twitter.com/OxfordMushrooms">
            {{ icon('twitter-icon', 'twitter') }}
          </a>
        </li>
        <li class="list__item">
          <a rel="external" href="https://www.instagram.com/oxfordmushroomco">
            {{ icon('instagram-icon', 'instagram') }}
          </a>
        </li>
        <li class="list__item">
          <a rel="external" href="https://github.com/oxford-mushroom-co/oxford-mushroom-co.github.io">
            {{ icon('github-icon', 'github') }}
          </a>
        </li>
      </ul>
      <p>
        Oxford Mushroom Company {{ currentYear }}©
      </p>
    </div>
    <div class="footer__secondary">
      <ul class="list list--inline">
        <li class="list__item">
          <a rel="external" href="http://goodfoodoxford.org/network/">
            {{ icon('good-food-oxford-icon', 'Good Food Oxford') }}
          </a>
        </li>
        <li class="list__item">
          <a rel="external" href="https://landworkersalliance.org.uk/">
            {{ icon('land-workers-alliance-icon', 'Land Workers Alliance') }}
          </a>
        </li>
      </ul>
    </div>
  </section>
</footer>
