<footer class="footer" role="contentinfo">
  <section class="centered-section">
    <ul class="list list--inline list--wide">
      <li class="list__item">
        <a rel="external" href="https://www.facebook.com/oxfordmushroomco">
          {{ Icon({
            id: 'facebook-icon',
            fallbackText: 'facebook'
          }) }}
        </a>
      </li>
      <li class="list__item">
        <a rel="external" href="https://twitter.com/OxfordMushrooms">
          {{ Icon({
            id: 'twitter-icon',
            fallbackText: 'twitter'
          }) }}
        </a>
      </li>
      <li class="list__item">
        <a rel="external" href="https://www.instagram.com/oxfordmushroomco">
          {{ Icon({
            id: 'instagram-icon',
            fallbackText: 'instagram'
          }) }}
        </a>
      </li>
      <li class="list__item">
        <a rel="external" href="https://github.com/oxford-mushroom-co/oxford-mushroom-co.github.io">
          {{ Icon({
            id: 'github-icon',
            fallbackText: 'github'
          }) }}
        </a>
      </li>
    </ul>
    <p class="footer__copyright">
      Oxford Mushroom Company 2017 - {{ currentYear }}©
    </p>
  </section>
</footer>
