{% extends "templates/_layout/base.njk" %}

{% block twitter %}
  {{ twitterCard(
    'The Oxford Mushroom Co.',
    'We are Lee and Rajo, two life-long Oxfordshire residents running a small-scale mushroom farm located in South Oxford. Ideally placed to supply the surrounding community and fine eateries with locally grown mushrooms. Maintaining a low carbon foot print and providing fresh produce that is pesticide free and with minimal food
      miles. Our mushrooms are grown inside specially modified ex-Ministry Of Defence shipping containers making us
      Oxfords first mushroom freight farm!',
    'http://oxfordmushroomco.com/assets/images/oxfordmushroomco-logo.png'
  ) }}
{% endblock %}

{% block facebook %}
  {{ facebookOpenGraph(
    'http://oxfordmushroomco.com',
    'The Oxford Mushroom Co.',
    'We are Lee and Rajo, two life-long Oxfordshire residents running a small-scale mushroom farm located in South Oxford. Ideally placed to supply the surrounding community and fine eateries with locally grown mushrooms. Maintaining a low carbon foot print and providing fresh produce that is pesticide free and with minimal food
      miles. Our mushrooms are grown inside specially modified ex-Ministry Of Defence shipping containers making us
      Oxfords first mushroom freight farm!',
  'http://oxfordmushroomco.com/assets/images/oxfordmushroomco-logo.png'
  ) }}
{% endblock %}

{% block content %}

  <section class="hero">
    <div class="centered-section centered-section--compact">
      <div class="hero__action-bar">
        <ul class="list list--inline">
          <li class="list__item">
            <a rel="external" href="https://www.facebook.com/oxfordmushroomco">
              {{ icon('facebook-icon', 'facebook', 'icon--large') }}
            </a>
          </li>
          <li class="list__item">
            <a rel="external" href="https://twitter.com/OxfordMushrooms">
              {{ icon('twitter-icon', 'twitter', 'icon--large') }}
            </a>
          </li>
          <li class="list__item">
            <a rel="external" href="https://www.instagram.com/oxfordmushroomco">
              {{ icon('instagram-icon', 'instagram', 'icon--large') }}
            </a>
          </li>
        </ul>
      </div>
      <img class="hero__logo hide-old-ie" src="assets/images/oxfordmushroomco-logo.svg" alt="The Oxford Mushroom Co.">
      <img class="hero__logo show-old-ie" src="assets/images/oxfordmushroomco-logo.png" alt="The Oxford Mushroom Co.">
    </div>
  </section>

  <section class="centered-section">
    <p>We are Lee and Rajo, two life-long Oxfordshire residents running a small-scale mushroom farm located in South
      Oxford.</p>
    <p>We are ideally placed to supply the surrounding community and fine eateries with locally grown mushrooms.
      Maintaining a low carbon foot print and providing fresh produce that is pesticide free and with minimal food
      miles. Our mushrooms are grown inside specially modified ex-Ministry Of Defence shipping containers making us
      Oxfords first mushroom freight farm!</p>
  </section>
  <section class="centered-section">
    <h2 class="h2" id="about-us">About us</h2>
    <ul class="grid">
      <li class="grid__col-1-3">
        <figure class="img">

          {{ image(
            'assets/images/info/oyster.jpg',
            'Oxford Mushroom Co. - Oyster Mushrooms',
            [
              'assets/images/info/oyster_large.jpg 2000w',
              'assets/images/info/oyster_medium.jpg 1500w',
              'assets/images/info/oyster_small.jpg 600w'
            ],
            '(min-width: 37.5em) 33.3vw, 100vw'
          ) }}

        </figure>
        <header>
          <h3 class="h3">Exotic mushrooms</h3>
        </header>
        <article>
          <ul class="list list--bullet">
            <li class="list__item">Shiitake and Oyster</li>
            <li class="list__item">great flavour</li>
            <li class="list__item">nutritional value</li>
            <li class="list__item">medicinal healing properties</li>
            <li class="list__item">grown on sustainably sourced oak sawdust</li>
          </ul>
        </article>
      </li>
      <li class="grid__col-1-3">
        <figure class="img">
          {{ image(
            'assets/images/info/view-from-farm.jpg',
            'Oxford Mushroom Co. - View of Oxford from the farm',
            [
              'assets/images/info/view-from-farm_large.jpg 2000w',
              'assets/images/info/view-from-farm_medium.jpg 1500w',
              'assets/images/info/view-from-farm_small.jpg 600w'
            ],
            '(min-width: 37.5em) 33.3vw, 100vw'
          ) }}

        </figure>
        <header>
          <h3 class="h3">Locally grown, fresh produce</h3>
        </header>
        <article>
          <ul class="list list--bullet">
            <li class="list__item">~1 mile from Oxford city centre</li>
            <li class="list__item">minimal food miles</li>
            <li class="list__item">Oxfords 1st mushroom freight farm</li>
            <li class="list__item">fresh Shiitake and Oyster mushrooms</li>
            <li class="list__item">low carbon footprint</li>
          </ul>
        </article>
      </li>
      <li class="grid__col-1-3">
        <figure class="img">

          {{ image(
            'assets/images/info/shiitake.jpg',
            'Oxford Mushroom Co. - Shiitake mushrooms',
            [
              'assets/images/info/shiitake_large.jpg 2000w',
              'assets/images/info/shiitake_medium.jpg 1500w',
              'assets/images/info/shiitake_small.jpg 600w'
            ],
            '(min-width: 37.5em) 33.3vw, 100vw'
          ) }}

        </figure>
        <header>
          <h3 class="h3">Environmentally friendly</h3>
        </header>
        <article>
          <ul class="list list--bullet">
            <li class="list__item">re-purposed ex MOD shipping containers</li>
            <li class="list__item">recycled, biodegradable, compostable packaging</li>
            <li class="list__item">solar panels <span class="side-note">(coming soon)</span></li>
            <li class="list__item">rain water harvesting <span class="side-note">(coming soon)</span></li>
          </ul>
        </article>
      </li>
    </ul>
  </section>
  <section class="centered-section">
    <div class="divider"></div>
    <h2 class="h2" id="contact-us">Contact us</h2>
    <p>If you would like to know how we can supply delicious mushrooms to you or your business or would like to find out
      more about our passion for mushrooms please do get in contact.</p>
    <div class="location">
      <div class="location__social">
        <ul class="list">
          <li class="list__item">
            <div class="contact-title">Email:</div>
            <a href="mailto:lee&#64;oxfordmushroomco.com" class="link">lee&#64;oxfordmushroomco.com</a>
          </li>
          <li class="list__item">
            <div class="contact-title">Phone:</div>
            <a href="tel:07505884986" class="link">07505 884986</a>
          </li>
          <li class="list__item">
            <div class="is-visually-hidden">facebook:</div>
            <a class="contact-link" rel="external" href="https://www.facebook.com/oxfordmushroomco">
              <div class="contact-title">
                {{ icon('facebook-icon', 'facebook:', 'icon--large') }}
              </div>
              facebook
            </a>
          </li>
          <li class="list__item">
            <div class="is-visually-hidden">twitter:</div>
            <a class="contact-link" rel="external" href="https://twitter.com/OxfordMushrooms">
              <div class="contact-title">
                {{ icon('twitter-icon', 'twitter:', 'icon--large') }}
              </div>
              twitter
            </a>
          </li>
          <li class="list__item">
            <div class="is-visually-hidden">instagram:</div>
            <a class="contact-link" rel="external" href="https://www.instagram.com/oxfordmushroomco">
              <div class="contact-title">
                {{ icon('instagram-icon', 'instagram:', 'icon--large') }}
              </div>
              instagram
            </a>
          </li>
        </ul>
      </div>
      <div class="location__map">
        <div class="map" id="map">
          <img src="assets/images/map.png" alt="Oxford Mushroom Co. Location map">
        </div>
      </div>
      <div class="location__address">
        <div class="contact-title">Address:</div>
        <ul class="list">
          <li class="list__item">Oxford Mushroom Co.</li>
          <li class="list__item">Hinksey Heights,</li>
          <li class="list__item">South Hinksey,</li>
          <li class="list__item">Oxford,</li>
          <li class="list__item">OX1 5AB.</li>
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
