{% extends "partials/templates/layout.njk" %}

{% block content %}
  <section>
    <div class="hero">
      <img src="assets/images/mushroom.jpg" alt="Shiitake mushrooms">
      <ul class="hero__text list list--inline">
        <li class="list__item">Fresh.</li>
        <li class="list__item">Local.</li>
        <li class="list__item">Organic.</li>
      </ul>
    </div>
  </section>
  <section class="centered-section">
    <p>Hello! We are <strong class="highlight">The Oxford Mushroom Company</strong>. A small-scale organic mushroom farm located in
      South Oxford and ran by two passionate locals, Lee and Rajo.</p>
    <p>We are ideally placed to supply the surrounding community and fine eateries with locally grown mushrooms. Maintaining a low carbon
      foot print and providing fresh, organic produce with minimal food miles.
      Our mushrooms are grown with rain water, solar panels and inside of re-purposed ex-Ministry Of Defence shipping containers.
    </p>
    <p>If you would like to know how we can supply delicious mushrooms to you or your business or would like to find out more about our passion for mushrooms please do <a href="#contact-us" class="link">get in contact</a>.</p>
  </section>
  <section class="centered-section">
    <ul class="grid">
      <li class="info grid__col-1-3">
        <figure class="img">
          <img class="info__img" src="assets/images/organic-mushrooms-1.jpg" alt="Oxford Mushroom Co. - Shiitake Mushrooms">
        </figure>
        <header class="info__header">
          <h2 class="h2">Exotic organic mushrooms</h2>
        </header>
        <article>
          <ul class="list list--bullet">
            <li class="list__item">Shiitake and Oyster</li>
            <li class="list__item">great flavour</li>
            <li class="list__item">nutritional value</li>
            <li class="list__item">medicinal healing properties</li>
            <li class="list__item">grown on organic oak sawdust</li>
          </ul>
        </article>
      </li>
      <li class="info grid__col-1-3">
        <figure class="img">
          <img class="info__img" src="assets/images/oxford-view.jpg" alt="View of Oxford from the farm">
        </figure>
        <header class="info__header">
          <h2 class="h2">Locally grown, fresh produce</h2>
        </header>
        <article>
          <ul class="list list--bullet">
            <li class="list__item">~1 mile from Oxford city centre</li>
            <li class="list__item">minimal food miles</li>
            <li class="list__item">fresh Shiitake and Oyster mushrooms</li>
            <li class="list__item">low carbon footprint</li>
          </ul>
        </article>
      </li>
      <li class="info grid__col-1-3">
        <figure class="img">
          <img class="info__img" src="assets/images/organic-mushrooms.jpg" alt="Our organic mushrooms">
        </figure>
        <header class="info__header">
          <h2 class="h2">Environmentally friendly</h2>
        </header>
        <article>
          <ul class="list list--bullet">
            <li class="list__item">solar panels</li>
            <li class="list__item">rain water harvesting</li>
            <li class="list__item">re-purposed ex MOD shipping containers</li>
            <li class="list__item">Oxfords 1st mushroom freight farm</li>
          </ul>
        </article>
      </li>
    </ul>
  </section>
  <section class="centered-section">
    <div class="divider"></div>
    <h2 id="contact-us">Contact us</h2>
    <div class="grid">
      <div class="grid__col-1-3">
        <ul class="list">
          <li class="list__item">
            <div class="contact-title">email:</div>
            <a href="mailto:lee&#64;oxfordmushroomco.com" class="link">lee&#64;oxfordmushroomco.com</a>
          </li>
          <li class="list__item">
            <div class="contact-title">phone:</div>
            <a href="tel:07505884986" class="link">07505 884986</a>
          </li>
        </ul>
      </div>
      <div class="grid__col-2-3">
        <div class="location">
          <div class="location__address">
            <div class="contact-title">address:</div>
            <ul class="list">
              <li class="list__item">The Barn,</li>
              <li class="list__item">Hinksey Heights,</li>
              <li class="list__item">South Hinksey,</li>
              <li class="list__item">Oxford,</li>
              <li class="list__item">OX1 5AB.</li>
            </ul>
          </div>
          <div class="location__map">
            <div class="map" id="map"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
