{% extends "partials/templates/layout.njk" %}

{% block content %}
  <section class="centered-section">
    <div class="hero">

      {{ image(
        'assets/images/hero/shiitake.jpg',
        'Oxford Mushroom Co. - Shiitake mushrooms',
        [
          'assets/images/hero/shiitake_large.jpg 3000w',
          'assets/images/hero/shiitake_medium.jpg 2000w',
          'assets/images/hero/shiitake_small.jpg 1500w'
          'assets/images/hero/shiitake_micro.jpg 1500w'
        ],
        '100vw'
      ) }}

      <div class="hero__center">
        <ul class="list list--inline">
          <li class="list__item">
            <a rel="external" href="https://www.facebook.com/oxfordmushroomco">
              {{ icon('facebook-icon', 'facebook', 'icon--large') }}
            </a>
          </li>
          <li class="list__item">
            <a rel="external" href="https://twitter.com/OxfordMushrooms">
              {{ icon('twitter-icon', 'twitter', 'icon--large') }}
            </a>
          </li>
          <li class="list__item">
            <a rel="external" href="https://www.instagram.com/oxfordmushroomco">
              {{ icon('instagram-icon', 'instagram', 'icon--large') }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="centered-section">
    <p>We are <strong class="highlight">The Oxford Mushroom Company</strong>. A small-scale organic mushroom farm located in
      South Oxford and ran by two passionate locals, Lee and Rajo.</p>
    <p>We are ideally placed to supply the surrounding community and fine eateries with locally grown mushrooms. Maintaining a low carbon
      foot print and providing fresh, organic produce with minimal food miles.
      Our mushrooms are grown with rain water, solar panels and inside of re-purposed ex-Ministry Of Defence shipping containers.
    </p>
    <p>If you would like to know how we can supply delicious mushrooms to you or your business or would like to find out more about our passion for mushrooms please do <a href="#contact-us" class="link">get in contact</a>.</p>
  </section>
  <section class="centered-section">
    <ul class="grid">
      <li class="info grid__col-1-3">
        <figure class="img">

          {{ image(
            'assets/images/info/oyster.jpg',
            'Oxford Mushroom Co. - Oyster Mushrooms',
            [
              'assets/images/info/oyster_large.jpg 2000w',
              'assets/images/info/oyster_medium.jpg 1500w',
              'assets/images/info/oyster_small.jpg 600w'
            ],
            '(min-width: 37.5em) 33.3vw, 100vw'
          ) }}

        </figure>
        <header class="info__header">
          <h2 class="h2">Exotic organic mushrooms</h2>
        </header>
        <article>
          <ul class="list list--bullet">
            <li class="list__item">Shiitake and Oyster</li>
            <li class="list__item">great flavour</li>
            <li class="list__item">nutritional value</li>
            <li class="list__item">medicinal healing properties</li>
            <li class="list__item">grown on organic oak sawdust</li>
          </ul>
        </article>
      </li>
      <li class="info grid__col-1-3">
        <figure class="img">

          {{ image(
            'assets/images/info/view-from-farm.jpg',
            'Oxford Mushroom Co. - View of Oxford from the farm',
            [
              'assets/images/info/view-from-farm_large.jpg 2000w',
              'assets/images/info/view-from-farm_medium.jpg 1500w',
              'assets/images/info/view-from-farm_small.jpg 600w'
            ],
            '(min-width: 37.5em) 33.3vw, 100vw'
          ) }}

        </figure>
        <header class="info__header">
          <h2 class="h2">Locally grown, fresh produce</h2>
        </header>
        <article>
          <ul class="list list--bullet">
            <li class="list__item">~1 mile from Oxford city centre</li>
            <li class="list__item">minimal food miles</li>
            <li class="list__item">fresh Shiitake and Oyster mushrooms</li>
            <li class="list__item">low carbon footprint</li>
          </ul>
        </article>
      </li>
      <li class="info grid__col-1-3">
        <figure class="img">

          {{ image(
            'assets/images/info/shiitake-box.jpg',
            'Oxford Mushroom Co. - Shiitake Mushrooms',
            [
              'assets/images/info/shiitake-box_large.jpg 2000w',
              'assets/images/info/shiitake-box_medium.jpg 1500w',
              'assets/images/info/shiitake-box_small.jpg 600w'
            ],
            '(min-width: 37.5em) 33.3vw, 100vw'
          ) }}

        </figure>
        <header class="info__header">
          <h2 class="h2">Environmentally friendly</h2>
        </header>
        <article>
          <ul class="list list--bullet">
            <li class="list__item">re-purposed ex MOD shipping containers</li>
            <li class="list__item">Oxfords 1st mushroom freight farm</li>
            <li class="list__item">solar panels <span class="side-note">(coming soon)</span></li>
            <li class="list__item">rain water harvesting <span class="side-note">(coming soon)</span></li>
          </ul>
        </article>
      </li>
    </ul>
  </section>
  <section class="centered-section">
    <div class="divider"></div>
    <h2 id="contact-us">Contact us</h2>
    <div class="grid">
      <div class="grid__col-1-3">
        <ul class="list">
          <li class="list__item">
            <div class="contact-title">email:</div>
            <a href="mailto:lee&#64;oxfordmushroomco.com" class="link">lee&#64;oxfordmushroomco.com</a>
          </li>
          <li class="list__item">
            <div class="contact-title">phone:</div>
            <a href="tel:07505884986" class="link">07505 884986</a>
          </li>
        </ul>
      </div>
      <div class="grid__col-2-3">
        <div class="location">
          <div class="location__address">
            <div class="contact-title">address:</div>
            <ul class="list">
              <li class="list__item">The Barn,</li>
              <li class="list__item">Hinksey Heights,</li>
              <li class="list__item">South Hinksey,</li>
              <li class="list__item">Oxford,</li>
              <li class="list__item">OX1 5AB.</li>
            </ul>
          </div>
          <div class="location__map">
            <div class="map" id="map">
              <img src="assets/images/location-map.png" alt="Oxford Mushroom Co. Location map">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
