{% macro Icon(props) %}
  {% set className = ['icon', props.id, 'hide-old-ie'] | concat(props.className) | join(' ') %}

  {%- if fallbackText %}
    <span class="show-old-ie">{{ props.fallbackText }}</span>
  {% endif -%}
  <svg class="{{ className }}">
    <use xlink:href="#{{ props.id }}"></use>
  </svg>
{% endmacro %}
