{% macro Image(props) %}
  {% set srcSet = props.srcSet | default('[]') | join(',') %}
  {% set className = props.className %}

  <img src="{{ props.src }}"
       {% if className %} class="{{ className }}" {% endif %}
       srcset="{{ srcSet }}"
       sizes="{{ props.sizes }}"
       alt="{{ props.alt }}"
  >
{% endmacro %}
