@import "../settings/vars";
@import "../tools/media-query";
@import "../tools/old-ie";

.centered-section {
  margin: $gutter * 2 auto;
  padding: 0 $gutter;
  max-width: $content-max-width;

  @include old-ie {
    width: $content-max-width;
  }
}

.centered-section--compact {
  margin: 0 auto;
}
