@import "../settings/vars";
@import "../tools/media-query";
@import "../tools/old-ie";

.centered-section {
  margin: $gutter;
  max-width: $content-max-width;

  @include media-query($content-max-width) {
    margin: $gutter*2 auto;
  }

  @include old-ie {
    margin: $gutter*2 auto;
    width: $content-max-width;
  }
}
