<footer class="footer" role="contentinfo">
  <section class="centered-section">
    <div class="grid">
      <div class="grid__col-2-3">
        <ul class="list list--inline">
          <li class="list__item">
            <a rel="external" href="https://www.facebook.com/oxfordmushroomco">
              {{ icon('facebook-icon', 'facebook') }}
            </a>
          </li>
          <li class="list__item">
            <a rel="external" href="">
              {{ icon('twitter-icon', 'twitter') }}
            </a>
          </li>
          <li class="list__item">
            <a rel="external" href="">
              {{ icon('instagram-icon', 'instagram') }}
            </a>
          </li>
          <li class="list__item">
            <a rel="external" href="https://github.com/feedmypixel/oxford-mushroom-co">
              {{ icon('github-icon', 'github') }}
            </a>
          </li>
        </ul>
        <ul class="list">
          <li class="list__item">
            Oxford Mushroom Company {{ currentYear }}©
          </li>
        </ul>
      </div>
      <div class="grid__col-1-3 right-aligned@large">
        <ul class="list list--inline">
          <li class="list__item">
            <a rel="external" href="https://landworkersalliance.org.uk/">
            {{ icon('land-workers-alliance-icon', 'Land Workers Alliance') }}
            </a>
          </li>
          <li class="list__item">
            <a rel="external" href="https://www.soilassociation.org/">
            {{ icon('soil-association-icon', 'The Soil Association') }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>
