<!--[if lte IE 8]>
<script>
  var unsupportedElements = ['section', 'footer', 'header', 'article', 'figure']

  for (var element in unsupportedElements) {
    document.createElement(unsupportedElements[element])
  }
</script>
<link rel="stylesheet" href="/assets/stylesheets/old-ie.css">
<![endif]-->
