@import "../settings/vars";
@import "../tools/media-query";
@import "../tools/old-ie";

@include media-query(1170px) {
  .address {
    display: table;

  }

  .address__title {
    display: table-cell;
    vertical-align: top;
    padding-right: $gutter;
  }

  .address__written {
    display: table-cell;
    vertical-align: top;
    padding-right: $gutter*2;
  }

  .address__map {
    display: table-cell;
    vertical-align: top;
  }
}

@include old-ie {
  .address {
    display: table;

  }

  .address__title {
    display: table-cell;
    vertical-align: top;
    padding-right: $gutter;
  }

  .address__written {
    display: table-cell;
    vertical-align: top;
    padding-right: $gutter;
  }

  .address__map {
    display: table-cell;
    vertical-align: top;
  }
}
