@import "../tools/media-query";
@import "../tools/old-ie";
@import "../settings/vars";

.contact-title {
  margin-bottom: $gutter/2;

  @include media-query(600px) {
    display: inline-block;
    min-width: 60px;
  }

  @include old-ie {
    display: inline-block;
    min-width: 60px;
  }
}
