@import "../tools/media-query";
@import "../tools/old-ie";
@import "../settings/vars";
@import "../settings/colours";

.contact-title {
  margin-bottom: $gutter/2;
  font-weight: bold;
  display: inline-block;
  min-width: 60px;
}

.contact-link {
  display: block;

  &:hover {
    .facebook-icon {
      fill: lighten($facebook, 20%);
    }

    .twitter-icon {
      fill: lighten($twitter, 10%);
    }

    .instagram-icon {
      fill: lighten($black, 40%);
    }
  }
}
