@import "../settings/colours";
@import "../settings/vars";
@import "../tools/media-query";
@import "../tools/old-ie";

.divider {
  display: none;

  @include media-query(600px) {
    display: block;
    margin: $gutter*2 auto;
    width: 60%;
    border-top: 1px solid $light-grey;
  }

  @include old-ie {
    display: block;
    margin: $gutter*2 auto;
    width: 60%;
    border-top: 1px solid $light-grey;
  }
}
