@import "../settings/colours";
@import "../settings/vars";
@import "../tools/media-query";
@import "../tools/old-ie";

.footer {
  width: 100%;
  border-top: 1px solid $dark-brown;
  background-color: $brown;
  color: $off-black;
  font-size: $font-16;
  padding-bottom: $gutter*2;
  margin-top: $gutter;

  .centered-section {
    margin-top: $gutter;
  }
}
