@import "../settings/colours";
@import "../settings/vars";

.footer {
  width: 100%;
  color: $dark-brown;
  font-size: $font-16;
  text-align: center;
  background-color: $white;
}

.footer__copyright {
  margin: 0 auto;
  padding: $gutter;
  font-size: $font-14;
}
