@import "../settings/colours";
@import "../settings/vars";
@import "../tools/media-query";
@import "../tools/old-ie";

.footer {
  width: 100%;
  background-color: $brown;
  color: $off-black;
  font-size: $font-16;
  padding-bottom: $gutter*2;
  margin-top: $gutter;

  .centered-section {
    margin-top: $gutter;
  }
}

.footer__primary {
  @include media-query(900px) {
    float: left
  }

  @include old-ie {
    float: left
  }
}

.footer__secondary {
  margin-top: $gutter;

  @include media-query(900px) {
    margin-top: 0;
    float: right
  }

  @include old-ie {
    margin-top: 0;
    float: right
  }
}
