@import "../settings/colours";
@import "../settings/vars";
@import "../tools/media-query";

.h1 {
  color: $off-black;
  font-size: $font-36;
  line-height: 1.2;

  @include media-query(600px) {
    font-size: $font-48;
  }
}

.h2 {
  font-size: $font-30;
  line-height: 1.4;
  margin-bottom: $gutter/2;

  @include media-query(600px) {
    font-size: $font-36;
  }
}
