@import "../settings/vars";
@import "../tools/media-query";
@import "../tools/old-ie";

.hero {
  margin-bottom: $gutter;

  @include media-query($content-max-width) {
    position: relative;
  }

  @include old-ie {
    position: relative;
  }
}

.hero__img {
  max-height: 800px;

  @include media-query(600px) {
    border-radius: 4px;
    margin: $gutter/2 auto 0;
  }

  @include old-ie {
    border-radius: 4px;
    margin-top: $gutter/2;
    max-height: 1000px;
  }
}
