@import "../settings/vars";
@import "../settings/colours";
@import "../tools/media-query";
@import "../tools/old-ie";

.hero {
  padding: $gutter;
  margin-bottom: $gutter;
  background-image: url('../images/info/view-from-farm_wide.jpg');
  background-size: cover;

  @include media-query(1024px) {
    position: relative;
    height: 100%;
  }

  @include old-ie {
    position: relative;
    background: no-repeat 0 0 url('../images/info/view-from-farm_wide.jpg');
  }
}

.hero__logo {
  padding: $gutter 0;
  margin: 0 auto;

  @include media-query(1024px) {
    width: 65%;
  }

  @include old-ie {
    width: 65%;
  }
}

.hero__action-bar {
  text-align: right;

  @include media-query(1024px) {
    text-align: left;
  }

  @include old-ie {
    text-align: left;
  }
}
