@import "../settings/vars";

.hero {
  position: relative;
  margin: 0 auto $gutter;
  max-height: 400px;
  overflow: hidden;
}

.hero__center {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: $content-max-width;
  margin: auto;
  padding-bottom: $gutter/2;
  text-align: right;
}
