@import "../settings/colours";
@import "../settings/vars";
@import "../tools/media-query";

// https://24ways.org/2014/an-overview-of-svg-sprite-creation-techniques/
.icon {
  width: 24px;
  height: 24px;
}

.icon--large {
  width: 36px;
  height: 36px;
}

.arrow-icon {
  stroke: $mushroom-white;

  &:hover {
    stroke: $mushroom-grey;
  }
}

.github-icon {
  fill: $off-black;

  &:hover {
    fill: lighten($off-black, 10);
  }
}

.facebook-icon {
  fill: $facebook;

  &:hover {
    fill: lighten($facebook, 10);
  }
}

.twitter-icon {
  fill: $twitter;

  &:hover {
    fill: lighten($twitter, 10);
  }
}

.instagram-icon {
  fill: $off-black;

  &:hover {
    fill: lighten($off-black, 10);
  }
}

.good-food-oxford-icon {
  width: 70px;
  height: 140px;
  fill: $good-food-oxford;

  &:hover {
    fill: lighten($good-food-oxford, 10);
  }
}

.land-workers-alliance-icon {
  width: 180px;
  height: 132px;
  fill: $off-black;

  &:hover {
    fill: lighten($off-black, 10);
  }
}
