@import "../settings/colours";
@import "../settings/vars";
@import "../tools/media-query";

// https://24ways.org/2014/an-overview-of-svg-sprite-creation-techniques/
.icon-wrapper {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.icon {
  width: 24px;
  height: 24px;
}

.github-icon {
  fill: $off-black;

  &:hover {
    fill: darken($grey, 20%);
  }
}

.facebook-icon {
  fill: $facebook;

  &:hover {
    fill: lighten($facebook, 20%);
  }
}

.twitter-icon {
  fill: $twitter;

  &:hover {
    fill: lighten($twitter, 10%);
  }
}

.instagram-icon {
  fill: $black;

  &:hover {
    fill: lighten($black, 40%);
  }
}

.soil-association-icon {
  width: 80px;
  height: 80px;
  fill: $black;

  &:hover {
    fill: lighten($black, 40%);
  }
}

.land-workers-alliance-icon {
  width: 120px;
  height: 88px;
  fill: $black;
  margin-right: $gutter;

  &:hover {
    fill: lighten($black, 40%);
  }
}
