@import "../settings/vars";
@import "../settings/colours";

.highlight {
  font-size: $font-24;
}

.small {
  font-size: $font-24;
  margin-right: -9px;
}

.large {
  font-size: $font-60;
}

.emphasize {
  color: $black;
}
